@mixin searchInput {
  form {
    width: 50%;
    padding: $padding 0;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid blue;
    @include xs {
      width: 100%;
    }
    @include md {
      width: 75%;
    }
    @include lg {
      width: 50%;
    }

    input {
      width: 100%;
      outline: none;
      border: 2px solid rgba($color: $primary, $alpha: 0.3);
      border-radius: $border-radius * 4;
      padding: $padding * 0.75 $padding * 1.5;
      transition: 0.1s ease-in-out;
      color: $text-color;
      &:focus {
        border: 2px solid rgba($color: $primary, $alpha: 0.7);
        box-shadow: $box-shadow;
      }
      &:hover {
        box-shadow: $box-shadow;
      }
    }
    span {
      position: absolute;
      right: 10px;
      padding: $padding * 0.5 $padding;
      border-radius: 50%;
      cursor: pointer;
      color: $text-color;
      transition: 0.2s ease-in-out;
      &:active {
        background-color: rgba($color: $primary, $alpha: 0.2);
      }
      &:focus {
        background-color: rgba($color: $primary, $alpha: 0.2);
      }
      &:hover {
        color: $bg-color;
        background-color: rgba($color: $primary, $alpha: 0.5);
        box-shadow: $box-shadow;
      }
    }
  }

  .search-types {
    width: 50%;
    padding: 0;
    margin: 0;
    margin-bottom: $padding;
    border: 1px solid red;
    @include xs {
      width: 100%;
    }
    @include sm {
      width: 100%;
    }
    @include md {
      width: 75%;
    }
    @include lg {
      width: 50%;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        @include xs {
          // padding: 0 $padding * 0.1;
        }
        @include sm {
          padding: 0;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @include btn();

          img {
            @include xs {
              width: 30%;
            }
            @include sm {
              width: 100%;
            }
          }
        }
        button.active {
          @include btn($primary);
        }
      }
    }
  }
}
