.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $padding;
    width: 100%;
    border: 1px solid red;

    @include searchInput;
  }
}
