.search-container {
  border: 1px solid red;
  margin-top: $padding * 5;
  padding: $padding 0;

  .search-wrapper {
    border: 1px solid red;
    padding: $padding 0;

    @include searchInput;

    .search-all {
      width: 50%;

      a {
        color: $text-color;

        span {
          font-size: $padding * 0.75;
        }
        h4 {
          margin-bottom: 0;
        }
        p {
          font-size: $padding * 0.85;
        }
      }
    }
  }
}
