$bg-color: #f3f3f3;

$colors: (
  'primary': #d9eff7,
  'secondary': #9bbbfc,
  'tertiary': #4741a6,
  'gray': #333333,
);
$primary: #4741a6;
$secondary: #9bbbfc;

$text-color: #333;

$border-radius: 5px;
$padding: 1rem;
//box-shadow
$box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
